#from Windows-Progamming
！/*/*.txt
！/*/*/*.c
！/*/*/*.suo
！/*/*/*.sln





/*/*/*/*.exe
/*/*/.vs/*
/*/*/*/*/
/*/*/*/*.ilk
/*/*/*/*.log
/*/*/*/*.pdb
/*/*/*/*.obj
/*/*/*/*.idb
/*/*/*.db
/*/*/*.filters
/*/*/*.vcxproj
